<b>Partlist exported from E:/AGH/Systemy Akwizycji Danych/swobodny-spadek/schematics/swobodny-spadek/measurement-board.sch at 2014-11-06 19:46:19</b>
<p>
<table>
<tr><td><b>Part</b></td><td><b>Value</b></td><td><b>Device</b></td><td><b>Package</b></td><td><b>Description</b></td><td><b>MF</b></td><td><b>MPN</b></td><td><b>OC_FARNELL</b></td><td><b>OC_NEWARK</b></td></tr>
<tr><td>C1</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C2</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C3</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C4</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C5</td><td>4u7</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C6</td><td>4u7</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C7</td><td>4u7</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C8</td><td>4u7</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C9</td><td>10u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C10</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C11</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C12</td><td>1u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C13</td><td>1u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C14</td><td>1u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C15</td><td>1u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C16</td><td>1u</td><td>CPOL-EUE2.5-6</td><td>E2,5-6</td><td>POLARIZED CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C17</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C18</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C19</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C20</td><td>22p</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C21</td><td>22p</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C22</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C23</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C24</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>C25</td><td>100n</td><td>C-EUC0805K</td><td>C0805K</td><td>CAPACITOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>H1</td><td>MOUNT-HOLE3.2</td><td>MOUNT-HOLE3.2</td><td>3,2</td><td>MOUNTING HOLE with drill center marker</td><td></td><td></td><td></td><td></td></tr>
<tr><td>H2</td><td>MOUNT-HOLE3.2</td><td>MOUNT-HOLE3.2</td><td>3,2</td><td>MOUNTING HOLE with drill center marker</td><td></td><td></td><td></td><td></td></tr>
<tr><td>H3</td><td>MOUNT-HOLE3.2</td><td>MOUNT-HOLE3.2</td><td>3,2</td><td>MOUNTING HOLE with drill center marker</td><td></td><td></td><td></td><td></td></tr>
<tr><td>H4</td><td>MOUNT-HOLE3.2</td><td>MOUNT-HOLE3.2</td><td>3,2</td><td>MOUNTING HOLE with drill center marker</td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC1</td><td>LF50CDT</td><td>LM2936DT-5.0</td><td>TO252</td><td>Ultra-Low Quiescent Current LDO Voltage Regulator</td><td>NATIONAL SEMICONDUCTOR</td><td>LM2936DT-5.0/NOPB</td><td>1286864</td><td>41K4501</td></tr>
<tr><td>IC2</td><td>LF50CDT</td><td>LM2936DT-5.0</td><td>TO252</td><td>Ultra-Low Quiescent Current LDO Voltage Regulator</td><td>NATIONAL SEMICONDUCTOR</td><td>LM2936DT-5.0/NOPB</td><td>1286864</td><td>41K4501</td></tr>
<tr><td>IC3</td><td>MEGA8-P</td><td>MEGA8-P</td><td>DIL28-3</td><td>MICROCONTROLLER</td><td></td><td></td><td>unknown</td><td>unknown</td></tr>
<tr><td>IC4</td><td>MCP601P</td><td>MCP601P</td><td>DIL08</td><td>Single Op Amp 2.7V to 6.0V Single Supply CMOS</td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC5</td><td>MAX232</td><td>MAX232</td><td>DIL16</td><td>RS232 TRANSEIVER</td><td>MAXIM</td><td>MAX232ACPE+</td><td>9723773</td><td>68K4544</td></tr>
<tr><td>IC6</td><td>23LCV1024</td><td>23LCV1024</td><td>DIL08</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC7</td><td>74ACT244N</td><td>74ACT244N</td><td>DIL20</td><td>Octal BUFFER and LINE DRIVER, 3-state</td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC8</td><td>NC7SZ125P5X</td><td>NC7SZ125P5X</td><td>SC70-5</td><td>3-state buffer, CMOS, 5V</td><td></td><td></td><td></td><td></td></tr>
<tr><td>IC9</td><td>NC7SZ125P5X</td><td>NC7SZ125P5X</td><td>SC70-5</td><td>3-state buffer, CMOS, 5V</td><td></td><td></td><td></td><td></td></tr>
<tr><td>J1</td><td>PC-GK2.1</td><td>DCJ0202</td><td>DCJ0202</td><td>DC POWER JACK</td><td></td><td></td><td>unknown</td><td>unknown</td></tr>
<tr><td>JP1</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP2</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP3</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP4</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP5</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP6</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP7</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP8</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP9</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP10</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP11</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>JP12</td><td></td><td>PINHD-1X2</td><td>1X02</td><td>PIN HEADER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>L1</td><td>10u</td><td>L-EU0207/7</td><td>0207/7</td><td>INDUCTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>L2</td><td>10u</td><td>L-EU0207/7</td><td>0207/7</td><td>INDUCTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>L3</td><td>10u</td><td>L-EU0207/7</td><td>0207/7</td><td>INDUCTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>LED1</td><td></td><td>LEDSMT1206</td><td>1206</td><td>LED</td><td></td><td></td><td></td><td></td></tr>
<tr><td>LED2</td><td></td><td>LEDSMT1206</td><td>1206</td><td>LED</td><td></td><td></td><td></td><td></td></tr>
<tr><td>LED3</td><td></td><td>LEDSMT1206</td><td>1206</td><td>LED</td><td></td><td></td><td></td><td></td></tr>
<tr><td>Q1</td><td>12M</td><td>CRYSTALHC49S</td><td>HC49/S</td><td>CRYSTAL</td><td></td><td></td><td>1667008</td><td>unknown</td></tr>
<tr><td>R1</td><td>1k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R2</td><td>1k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R3</td><td>1k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R4</td><td>1k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R5</td><td>4k7</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R6</td><td>4k7</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R7</td><td>15k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R8</td><td>15k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R9</td><td>1k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R10</td><td>470</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R11</td><td>470</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R12</td><td>27</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R13</td><td>15k</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R14</td><td>10k</td><td>TRIM_EU-CA14V</td><td>CA14V</td><td>POTENTIOMETER</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R15</td><td>4k7</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R16</td><td>4k7</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>R17</td><td>1k5</td><td>R-EU_R0805</td><td>R0805</td><td>RESISTOR, European symbol</td><td></td><td></td><td></td><td></td></tr>
<tr><td>S1</td><td>DT6</td><td>DT6</td><td>DT6</td><td>ITT SWITCH</td><td></td><td></td><td></td><td></td></tr>
<tr><td>SW1</td><td></td><td>SW_DIP-2</td><td>EDG-02</td><td>DIP SWITCH</td><td></td><td></td><td></td><td></td></tr>
<tr><td>T1</td><td></td><td>BC817-40-NPN-SOT23-BEC</td><td>SOT23-BEC</td><td>NPN Transistror</td><td></td><td></td><td></td><td></td></tr>
<tr><td>T2</td><td></td><td>BC817-40-NPN-SOT23-BEC</td><td>SOT23-BEC</td><td>NPN Transistror</td><td></td><td></td><td></td><td></td></tr>
<tr><td>T3</td><td></td><td>BC817-40-NPN-SOT23-BEC</td><td>SOT23-BEC</td><td>NPN Transistror</td><td></td><td></td><td></td><td></td></tr>
<tr><td>T4</td><td></td><td>BC817-40-NPN-SOT23-BEC</td><td>SOT23-BEC</td><td>NPN Transistror</td><td></td><td></td><td></td><td></td></tr>
<tr><td>X1</td><td>HD44780</td><td>057-014-1</td><td>057-014-1</td><td>CONNECTOR</td><td></td><td></td><td>unknown</td><td>unknown</td></tr>
<tr><td>X2</td><td>D-SUB9-RS232</td><td>D-SUB9-H5M09RA</td><td>H5M09RA</td><td>D-Subminiatur Connector</td><td></td><td></td><td>unknown</td><td>unknown</td></tr>
<tr><td>X3</td><td>ISP</td><td>057-010-1</td><td>057-010-1</td><td>CONNECTOR</td><td></td><td></td><td>unknown</td><td>unknown</td></tr>
</table>
